*{
    background-color: black;
}
/* Navbar */
.lilogo{
    height: 80px;
    width:80px;
}
.navbar-brand{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1ch;
    margin-left: 15px;
}
.nav-link{
    text-align: center;
    margin: 6px;
    background: linear-gradient(to top, rgba(62, 6, 68, 1) 0%, rgba(62, 6, 68, 1) 4px, transparent 5px) no-repeat;
    background-size: 0 100%;
    transition: background-size .3s;
}
.nav-link:hover{
    background-size: 100% 100%;
}

.container{
    background-color: white;
}
/* Fin Navbar*/

/* main content */
.menu-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.menu-title{
    margin-bottom: 100px;
    color: black;
    font-style: italic;
    text-decoration: underline;
}
.menu-categories{
    display: grid;
    margin-top:200px;
    grid-template-columns: repeat(2, 1fr);
    gap:10ch;
    margin-bottom: 100px;
}
.menu-category{
    border:none;
    background-color: whitesmoke;
    border-radius: 5px;
    
    width: 450px;
    height: 350px;
    transition: all 0.3s ease-in-out;
    
}   
.menu-category > a{
    text-decoration: none;
    color: rgba(62, 6, 68, 1);

    background-color: transparent;
    font-size: 1.5em;
    font-style: italic;

}
 .menu-category:hover{
    background-color: #1c1f23; 
} 

.menu-category:hover > a {
    font-style: italic;
    color:whitesmoke;

}
.bg-dark{
    --bs-bg-opacity:0;
    
}
/* Fin main content */
/* footer */
#linksfoot{
    text-decoration: none;
 }
.footertitle{
    color:rgba(62, 6, 68, 1);
}
.logogit{
    font-size: 1.5em;
    color: whitesmoke;
}
.logogit:hover{
    color:rgba(62, 6, 68, 1);
}

/* fin footer */
@media (max-width: 1250px) {
    .menu-categories{
        gap:8ch;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


